* {
          box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: $mobile) {
  html {
    font-size: 14px;
  }
}

body {
  color: $text-color;
  background-color: $bg-color;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.fake-image {
    height: 50px;
    background-color: $black-05;
    border: 1px solid $black-30;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// News read more fading effect
#news-items {
    display: contents;
}

.news-item {
    display: contents;

    > div:not(.cv-left-date) {
        grid-column: text;
    }
}

.news-item.hidden {
    display: none;

    > * {
        display: none;
    }
}

#read-more-news {
    text-align: center;
    margin-top: -90px;
    padding-top: 80px;
    height: 110px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1.0));
    position: relative;
    z-index: 2;

    a {
        cursor: pointer;
        color: $blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

#read-more-news.hidden {
    display: none;
}
